@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 97px ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
header {
    height: 97px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.text-secondary{
    color: #838383;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.bg {
    background-color: #222222;
}
.bghover:hover {
    background-color: #bffe00;
}
.color {
    color: #bffe00;
}
.py-1 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-2{
    padding: 13px;
}
.b-radius {
    border-radius: 5px;
}
.transition{
    transition: 0.5s all;
}
.mt-1 {
    margin-top: 7px;
}
.mt-2 {
    margin-top: 15px;
}
.mt-3 {
    margin-top: 20px;
}
.mt-5 {
    margin-top: 50px;
}
.mx-2 {
    margin: auto 10px;
}
.my-5 {
    margin: 50px auto;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.max-w{
    max-width: 650px;
}
li{
    list-style: none;
}
.bold { 
    font-weight: bold;
}
a{
    text-decoration: none;
}
.text-white{
    color: white;
}
.btn {
    color: #fff;
    padding: 15px 15px;
    font-size: 20px;
    background: #222222;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
}
.title {
    position: relative;
    padding: 6px 10px ;
    border: 1px solid #ccccccaf;
    width: fit-content;
    margin: 100px auto;
    background-color: #fff;
}
.title::before {
    content: "";
    position: absolute;
    width: 50vw;
    left: 0;
    top: 50%;
    height: 1px;
    background: #ccccccaf;
    z-index: -1;
}
.title::after {
    content: "";
    position: absolute;
    width: 50vw;
    right: 0;
    top: 50%;
    height: 1px;
    background: #ccccccaf;
    z-index: -1;
}
.home {
    min-height: 85vh;
    background: url("/images/background.png") no-repeat;
    background-position: center;
    background-size: cover;
}
.home::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.096);
    width: 100%;
    height: 85vh;
    position: absolute;
    z-index: 0;
}
.text-home {
    background: #000000c0;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #00000073;
}
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
    background: transparent;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }
  .service{
    margin-top: 25px;
  }
  .image {
    max-width: 500px;
  }




  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .modal-content img{
        object-fit: contain;
        max-width: 500px;
        max-height: 500px;
        display: block;
    }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }


  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .contact-form {
    width: 500px;
    padding: 30px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.map {
    width: 500px;
    height: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333333;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
}

textarea.form-control {
    resize: vertical;
}

.btnToggle{
    display: none;
  }
  
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
  }
 
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  
  #checkbox:checked + .toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
  .modal-content img{
      max-width: 320px;
  }
  #myImg {
      width: 290px;
  }
  .map {
    width: 300px;
    height: 300px;
    margin: 20px auto 0;
  }
  #contact-form{
    width: 300px;
  }
  .navbar{
   position: absolute; 
   display: block;
   height: 80vh;
   left: auto;
   background: #000000b2;
   width: 100vw;
   left: -100%;
   top: 97px;
   line-height: 5;
   transition: 0.4s all;
  }
  .btnToggle{
    display: block;
  }
  html {
    font-size: 65%;
  }
  .text-home {
    width: 300px;
  }
  .image{
    width: 300px;
    margin-top: 25px;
  }
  .active {
    left: 0%;
}
}


footer ul li {
    line-height: 2.2;
}
#btnUp {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    z-index: 10;
    right: 15px;
    cursor: pointer;
    background: #222222;
}